@import "~@/assets/style/module/form.less";
@import "~@/assets/style/module/element.less";
@import "element-ui/lib/theme-chalk/index.css"; // 配置vue插件,放在main.js中加载，图标无法显示

/*自定义全局样式，以及自定义的组件样式（例如常用按钮、文本前的红绿灯）*/
.red {
    color: @color-red;
}
.yellow {
    color: @color-yellow;
}
.green {
    color: @color-green;
}
.blue {
    color: @color-blue;
}
.gray {
    color: @color-gray;
}

/** 分割线 **/
.line-split {
    display: block;
    height: 8px;
    border: 0px;
    background: @gray-2;
    margin: 10px 0px;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clear-b {
    clear: both;
}

.pr {
    position: relative;
}

// common
.block {
    display: block;
}

.img-r {
    max-width: 100%;
    display: block;
    height: auto;
}

// 字体大小，字号：0-60的偶数
.t-loop(@i) when (@i > 0) {
    .t-loop((@i - 2));
    .t-@{i} {
        font-size: 1px * @i;
    }
}
.t-loop(60);

.t {
    &-center {
        text-align: center;
    }
    &-vcenter {
        vertical-align: middle;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-normal {
        font-weight: normal;
    }
    &-bold {
        font-weight: bold;
    }

    &-red {
        color: @color-red;
    }

    &-green {
        color: @color-green;
    }

    &-yellow {
        color: @color-yellow;
    }

    &-blue {
        color: @color-common-blue;
    }

    &-white {
        color: @white;
    }

    &-gray {
        color: @color-font-gray;
    }

    &-999 {
        color: #999;
    }
}

.m-loop(@i) when (@i > 0) {
    .m-loop((@i - 5));

    //mg-* = margin:*px;
    //mt-* = margin-top:*px;
    //mb-* = margin-bottom:*px;
    //ml-* = margin-left"*px;
    //mr-* = margin-right"*px;
    .mg-@{i} {
        margin: 1px * @i;
    }
    .mt-@{i} {
        margin-top: 1px * @i;
    }
    .mb-@{i} {
        margin-bottom: 1px * @i;
    }
    .ml-@{i} {
        margin-left: 1px * @i;
    }
    .mr-@{i} {
        margin-right: 1px * @i;
    }

    //pd-* = padding:*px;
    //pt-* = padding-top:*px;
    //pb-* = padding-bottom:*px;
    //pl-* = padding-left"*px;
    //pr-* = padding-right"*px;
    .pg-@{i} {
        padding: 1px * @i;
    }
    .pt-@{i} {
        padding-top: 1px * @i;
    }
    .pb-@{i} {
        padding-bottom: 1px * @i;
    }
    .pl-@{i} {
        padding-left: 1px * @i;
    }
    .pr-@{i} {
        padding-right: 1px * @i;
    }
}
.m-loop(60);

.clearfix {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

// 文本超出部分省略号
.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &-l {
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        //超2行省略
        &2 {
            -webkit-line-clamp: 2;
        }
        //超3行省略
        &3 {
            -webkit-line-clamp: 3;
        }
        //超4行省略
        &4 {
            -webkit-line-clamp: 4;
        }
    }
}

// 文本超出换行
.text-wrap {
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
}

// 文字下划线
.under-line {
    display: inline-block;
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

// 删除标签换行出现的空格
.del-wrap-space {
    display: inline-flex;
    align-items: flex-end;
}
