* {
  box-sizing: border-box;
}

/*样式初始化*/
html {
  // overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 14px;
}

body * {
  font-family: "SimHei", Arial, Helvetica, sans-serif !important;
  margin: 0px;
  padding: 0px;
  // font: 15px/1.5 -apple-system, BlinkMacSystemFont, Helvetica Neue, STHeiTi,
  //   PingFang SC, Source Han Sans SC, Noto Sans CJK SC, sans-serif;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

input,
textarea {
  outline: none;
}

a {
  color: #333;
  text-decoration: none;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
  vertical-align: middle;
}
