@color-red: red;
@color-green: #13a91e;
@color-green-light: #00ff00; //亮绿色
@color-yellow: #ffc000;
@color-blue: #0000ff;
@color-gray: #bfbfbf;
@color-common-blue: #1690ff;
@color-font-gray: #a1a1a1; //表格标题等需要置灰的字体
@color-border-gray: #d8d8d8; //灰色边框
@color-border-gray-light: #efefef; //灰色边框
@color-btn-bg-gray: #f4f4f4; //按钮灰色背景
@color-table-stripe: #f6f9fe; //表格斑马纹背景色
@color-page-bg: #f2f9fe; //页面淡蓝色背景
@color-page-bg-gray: #f3f3f3; //页面灰色色背景

@font-size-bigger: 24px;
@font-size-big: 16px;
@font-size-normal: 14px;
@font-size-small: 12px;
@font-size-mini: 10px;

@header-bg-blue: #c5d9f1;

@border-radius-5: 5px;
@border-radius-size: 10px;

// Color Palette
@black: #000;
@white: #fff;
@gray-1: #f7f8fa;
@gray-2: #f2f3f5;
@gray-3: #ebedf0;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;
@red: #ee0a24;
@blue: #1690ff;
@blue-1: #ecf6ff;
@orange: #ffbd00;
@orange-dark: #ed6a0c;
@orange-light: #fffbe8;
@green: #5cba79;
@primary: #5097ea;
@info: #4accdc;
