<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 13:25:33
 * @Description: //一船一档
-->
<template>
    <div class="detail fill" @dblclick="handleDbClick">
        <el-table
            :data="tableData"
            :span-method="arraySpanMethod"
            :header-cell-style="headerStyle"
            :cell-style="cellStyle"
            :cell-class-name="cellClassName"
            @sort-change="changeTableSort"
            border
        >
            <el-table-column label="家内营收" align="center">
                <template slot="header">
                    <span class="t-center del-wrap-space">
                        网批【
                        <span class="blue">营收</span>
                        】
                    </span>
                </template>
                <el-table-column
                    prop="system"
                    label="中心"
                    align="center"
                ></el-table-column>
                <el-table-column
                    prop="charge"
                    label="责人"
                    align="center"
                    width="100"
                ></el-table-column>
                <el-table-column
                    prop="rank"
                    label="排名"
                    align="center"
                    width="65"
                ></el-table-column>
                <el-table-column label="营收" align="center">
                    <el-table-column
                        prop="dalv"
                        label="达率"
                        align="center"
                        width="100"
                    ></el-table-column>
                    <el-table-column
                        prop="target"
                        label="预算"
                        align="center"
                    ></el-table-column>
                    <el-table-column
                        prop="fact"
                        label="实际"
                        align="center"
                        width="100"
                    ></el-table-column>
                    <el-table-column
                        prop="old"
                        label="去年"
                        align="center"
                    ></el-table-column>
                    <el-table-column
                        prop="rate"
                        label="同比"
                        align="center"
                    ></el-table-column>
                </el-table-column>
                <el-table-column
                    prop="maoli"
                    label="毛利"
                    align="center"
                ></el-table-column>
                <el-table-column
                    prop="guandong"
                    label="管动"
                    align="center"
                    width="45"
                ></el-table-column>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
export default {
    name: "detail",
    components: {},
    data() {
        return {
            tableData: [
                {
                    system: "整体",
                    rank: "",
                    dalv: 99,
                    target: 65,
                    fact: 64.7,
                    old: 70,
                    rate: -8,
                    maoli: 24,
                    charge: "叶盛峰",
                    guandong: "+"
                },
                {
                    system: "TL",
                    rank: "第4",
                    dalv: 99,
                    target: 31.7,
                    fact: 31.6,
                    old: 19.2,
                    rate: 65,
                    maoli: 24,
                    charge: "吕丽荣",
                    guandong: "+"
                },
                {
                    system: "A2",
                    rank: "第3",
                    dalv: 102,
                    target: 1.8,
                    fact: 1.8,
                    old: 1.7,
                    rate: 5,
                    maoli: 29,
                    charge: "王应军",
                    guandong: "+"
                },
                {
                    system: "A1",
                    rank: "第1",
                    dalv: 137,
                    target: 0.2,
                    fact: 0.3,
                    old: 0.6,
                    rate: -45,
                    maoli: 17,
                    charge: "谢豹",
                    guandong: "+"
                },
                {
                    system: "V",
                    rank: "第2",
                    dalv: 128,
                    target: 0.17,
                    fact: 0.2,
                    old: 1.69,
                    rate: -88,
                    maoli: 37,
                    charge: "王辉辉",
                    guandong: "+"
                },
                {
                    system: "A3",
                    rank: "第2",
                    dalv: 128,
                    target: 0.17,
                    fact: 0.2,
                    old: 1.69,
                    rate: -88,
                    maoli: 37,
                    charge: "王辉辉",
                    guandong: "+"
                },
                {
                    system: "YH",
                    rank: "第2",
                    dalv: 128,
                    target: 0.17,
                    fact: 0.2,
                    old: 1.69,
                    rate: -88,
                    maoli: 37,
                    charge: "王辉辉",
                    guandong: "+"
                }
            ]
        };
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {
        changeTableSort() {},
        //合并单元格
        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
            if (rowIndex === 0) {
                if (column.label == "中心") {
                    return [1, 3];
                } else if (column.label == "排名" || column.label == "责人") {
                    return [0, 0];
                }
            }
            if (rowIndex === 4 && row.system == "点击展开更多") {
                if (column.label == "中心") {
                    return [1, 10];
                }
            }
        },
        //表格头部
        headerStyle({ row, column, rowIndex, columnIndex }) {
            let styleobj = {};
            if (column.label == "家内营收") {
                styleobj.backgroundColor = "#00ff00";
                styleobj.fontSize = "24px";
            }
            if (column.label == "预算") {
                styleobj.backgroundColor = "#00b050";
            }
            if (column.label == "实际") {
                styleobj.backgroundColor = "#ffc000";
            }
            if (column.label == "去年") {
                styleobj.backgroundColor = "#bfbfbf";
            }
            if (column.label == "同比") {
                styleobj.borderRightWidth = "2px";
            }
            return styleobj;
        },
        //单元格样式
        cellStyle({ row, column, rowIndex, columnIndex }) {
            let styleobj = {};
            if (rowIndex == 0) {
                styleobj.backgroundColor = "#00ffff";
            }
            if (rowIndex == 3) {
                styleobj.borderBottomWidth = "2px";
            }
            if (column.label == "体系") {
                styleobj.borderLeftWidth = "1px";
            }
            if (column.label == "同比") {
                styleobj.borderRightWidth = "2px";
            }
            if (column.label == "实际") {
                styleobj.backgroundColor = "#fbe5d6";
            }
            if (column.label !== "责人" && column.label !== "管动") {
                styleobj.fontWeight = "bold";
            }
            if (column.label == "排名") {
                // if (parseInt(row.rank.substr(1)) == 1) {
                //     styleobj.color = "blue";
                // } else if (
                //     parseInt(row.rank.substr(1)) ==
                //     this.tableData.length - 1
                // ) {
                //     styleobj.color = "red";
                // }
            }
            return styleobj;
        },
        cellClassName({ row, column, rowIndex, columnIndex }) {
            if (column.label == "达率") {
                if (row.dalv < 95) {
                    return "reach-red";
                } else if (row.dalv > 100) {
                    return "reach-green";
                } else {
                    return "reach-yellow";
                }
            }
            if (column.label == "同比") {
                if (row.rate < 0) {
                    return "reach-red";
                } else {
                    return "reach-green";
                }
            }
        }
    }
};
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
