<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 11:18:18
 * @Description: //一船一档
-->
<template>
    <div class="reach chart">
        <publicTitle frontName="网批同比"></publicTitle>
        <div class="chartContent">
            <barChart
                :data="barData"
                :legend="legend"
                :yAxis="yAxis"
            ></barChart>
        </div>
    </div>
</template>

<script>
import barChart from "@/components/barChart";
import publicTitle from "@/components/publicTitle";
export default {
    name: "reach",
    components: {
        barChart,
        publicTitle
    },
    data() {
        return {
            barData: {
                xAxisData: ["TL", "A2", "A1", "A3", "V", "YH"],
                data: [
                    {
                        name: "value1",
                        color: "#13a91e",
                        type: "bar",
                        width: "35%",
                        data: [40, 50, 60, 40, 50, 60],
                        unit: ["money", "chartMoney"],
                        labelIsShow: true,
                        borderWidth: 1
                    }
                ]
            },
            legend: {
                show: false
            },
            yAxis: {
                isShow: false
            }
        };
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {}
};
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
