<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 11:18:38
 * @Description: //一船一档
-->
<template>
    <div class="trend chart">
        <publicTitle frontName="网批达率"></publicTitle>
        <div class="chartContent">
            <barChart
                :data="barData"
                :chartHandleClick="chartHandleClick"
                :legend="legend"
            ></barChart>
        </div>
    </div>
</template>

<script>
import barChart from "@/components/barChart";
import publicTitle from "@/components/publicTitle";
export default {
    name: "trend",
    components: {
        barChart,
        publicTitle
    },
    data() {
        return {
            barData: {
                xAxisData: ["TL", "A2", "A1", "A3", "V", "YH"],
                data: [
                    {
                        name: "value1",
                        color: "#13a91e",
                        type: "bar",
                        width: "35%",
                        data: [40, 50, 60, 40, 50, 60],
                        unit: ["money", "chartMoney"],
                        labelIsShow: true,
                        borderWidth: 1
                    }
                ]
            },
            legend: {
                show: false
            },
            value: "",
            options: [
                {
                    name: "网批",
                    value: "0"
                },
                {
                    name: "电商",
                    value: "1"
                },
                {
                    name: "群采",
                    value: "2"
                }
            ]
        };
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {
        /**
         * @Author: gonghairun
         * @description:
         * @param {*} value
         * @return {*}
         */

        chartHandleClick(value) {
            console.log(value);
        }
    }
};
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
