<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 15:23:13
 * @Description: //一船一档
-->
<template>
    <div class="revenue">
        <div class="top">
            <!-- 家内营收 -->
            <detail></detail>
        </div>
        <div class="bottom">
            <!-- 家内营收趋势 -->
            <trend></trend>
            <!-- 家内营收达成比对 -->
            <reach></reach>
            <!-- 家内营收占 -->
            <ratio></ratio>
        </div>
    </div>
</template>

<script>
import trend from "./subPage/trend"; // 家内营收趋势
import reach from "./subPage/reach"; // 家内营收达成比对
import detail from "./subPage/detail"; // 家内营收
import ratio from "./subPage/ratio"; // 家内营收占
export default {
    name: "revenue",
    components: {
        trend,
        reach,
        detail,
        ratio
    },
    data() {
        return {};
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {}
};
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
