.revenue {
    width: 100%;
    height: 100%;
    .top {
        width: 100%;
        height: 68%;
        display: flex;
        align-items: center;
        .detail {
            width: 100%;
            height: 100%;
        }
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 31%;
        margin-top: 0.5%;
        .trend {
            margin-right: 0.5%;
        }
        .reach {
            margin-right: 0.5%;
        }
        .chart {
            width: 33%;
            height: 100%;
            border: 1px solid #ebebeb;
            .chartContent {
                width: 100%;
                height: ~"calc(100% - 40px)";
            }
        }
    }
}
