<template>
  <div class="bottom-bar"></div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="less" scoped>
.bottom-bar {
  width: 100vw;
  height: 50px;
  background-color: #eee;
}
</style>
