<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 17:16:18
 * @Description: //一船一档
-->
<template>
    <div class="detail fill">
        <el-table
            :data="tableSortData"
            :span-method="arraySpanMethod"
            :header-cell-style="headerStyle"
            :cell-style="cellStyle"
            :cell-class-name="cellClassName"
            @sort-change="changeTableSort"
            border
        >
            <el-table-column label="家内营收" align="center">
                <template slot="header">
                    <span class="t-center del-wrap-space">
                        家内【
                        <span class="blue">营收</span>
                        】
                    </span>
                    <span class="currentDate">2021-12</span>
                </template>
                <el-table-column prop="system" label="通路" align="center">
                    <template slot-scope="scope">
                        <span
                            @click="handleClick(scope.row.system)"
                            :style="{
                                'text-decoration':
                                    scope.row.system == '网批'
                                        ? 'underline'
                                        : '',
                                cursor:
                                    scope.row.system == '网批' ? 'pointer' : ''
                            }"
                        >
                            {{ scope.row.system }}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="rank"
                    label="排名"
                    align="center"
                ></el-table-column>
                <el-table-column
                    prop="charge"
                    label="责人"
                    align="center"
                ></el-table-column>
                <el-table-column label="营收" align="center">
                    <el-table-column
                        prop="dalv"
                        label="达率"
                        align="center"
                        sortable="custom"
                    ></el-table-column>
                    <el-table-column
                        prop="target"
                        label="预算"
                        align="center"
                    ></el-table-column>
                    <el-table-column
                        prop="fact"
                        label="实际"
                        align="center"
                        sortable="custom"
                    ></el-table-column>
                    <el-table-column
                        prop="old"
                        label="去年"
                        align="center"
                    ></el-table-column>
                    <el-table-column
                        prop="rate"
                        label="同比"
                        align="center"
                        sortable="custom"
                    ></el-table-column>
                </el-table-column>
                <el-table-column label="内占" align="center">
                    <el-table-column
                        prop="dalv"
                        label="达率"
                        align="center"
                        sortable="custom"
                    ></el-table-column>
                    <el-table-column
                        prop="target"
                        label="预算"
                        align="center"
                    ></el-table-column>
                    <el-table-column
                        prop="fact"
                        label="实际"
                        align="center"
                        sortable="custom"
                    ></el-table-column>
                    <el-table-column
                        prop="old"
                        label="去年"
                        align="center"
                    ></el-table-column>
                    <el-table-column
                        prop="rate"
                        label="同比"
                        align="center"
                        sortable="custom"
                    ></el-table-column>
                </el-table-column>
                <el-table-column
                    prop="maoli"
                    label="毛利"
                    align="center"
                ></el-table-column>
                <el-table-column
                    prop="guandong"
                    label="管动"
                    align="center"
                    width="45"
                ></el-table-column>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
export default {
    name: "detail",
    components: {},
    data() {
        return {
            tableSortData: [
                {
                    system: "整体",
                    rank: "",
                    dalv: 99,
                    target: 65,
                    fact: 64.7,
                    old: 70,
                    rate: -8,
                    maoli: 24,
                    charge: "叶盛峰",
                    guandong: "+"
                },
                {
                    system: "网批",
                    rank: 1,
                    dalv: 99,
                    target: 31.7,
                    fact: 31.6,
                    old: 19.2,
                    rate: 65,
                    maoli: 24,
                    charge: "吕丽荣",
                    guandong: "+"
                },
                {
                    system: "电商",
                    rank: 2,
                    dalv: 99,
                    target: 31.0,
                    fact: 30.6,
                    old: 47.1,
                    rate: -35,
                    maoli: 23,
                    charge: "高朋",
                    guandong: "+"
                },
                {
                    system: "微店",
                    rank: 3,
                    dalv: 102,
                    target: 1.8,
                    fact: 1.8,
                    old: 1.7,
                    rate: 5,
                    maoli: 29,
                    charge: "王应军",
                    guandong: "+"
                },
                {
                    system: "群采",
                    rank: 4,
                    dalv: 137,
                    target: 0.2,
                    fact: 0.3,
                    old: 0.6,
                    rate: -45,
                    maoli: 17,
                    charge: "谢豹",
                    guandong: "+"
                },
                {
                    system: "卖场",
                    rank: 5,
                    dalv: 128,
                    target: 0.17,
                    fact: 0.2,
                    old: 1.69,
                    rate: -88,
                    maoli: 37,
                    charge: "王辉辉",
                    guandong: "+"
                }
            ],
            tableList: [
                {
                    system: "整体",
                    rank: "",
                    dalv: 99,
                    target: 65,
                    fact: 64.7,
                    old: 70,
                    rate: -8,
                    maoli: 24,
                    charge: "叶盛峰",
                    guandong: "+"
                },
                {
                    system: "网批",
                    rank: 1,
                    dalv: 99,
                    target: 31.7,
                    fact: 31.6,
                    old: 19.2,
                    rate: 65,
                    maoli: 24,
                    charge: "吕丽荣",
                    guandong: "+"
                },
                {
                    system: "电商",
                    rank: 2,
                    dalv: 99,
                    target: 31.0,
                    fact: 30.6,
                    old: 47.1,
                    rate: -35,
                    maoli: 23,
                    charge: "高朋",
                    guandong: "+"
                },
                {
                    system: "微店",
                    rank: 3,
                    dalv: 102,
                    target: 1.8,
                    fact: 1.8,
                    old: 1.7,
                    rate: 5,
                    maoli: 29,
                    charge: "王应军",
                    guandong: "+"
                },
                {
                    system: "群采",
                    rank: 4,
                    dalv: 137,
                    target: 0.2,
                    fact: 0.3,
                    old: 0.6,
                    rate: -45,
                    maoli: 17,
                    charge: "谢豹",
                    guandong: "+"
                },
                {
                    system: "卖场",
                    rank: 5,
                    dalv: 128,
                    target: 0.17,
                    fact: 0.2,
                    old: 1.69,
                    rate: -88,
                    maoli: 37,
                    charge: "王辉辉",
                    guandong: "+"
                }
            ]
        };
    },
    mounted() {
        this.tableSortData = this.rankDataProcess(
            this.tableSortData,
            "rank",
            "dalv"
        );
    },
    computed: {},
    watch: {},
    activated() {},
    methods: {
        /**
         * @Author: gonghairun
         * @description: 跳转二级明细
         * @param {*}
         * @return {*}
         */
        handleClick(name) {
            if (name == "网批") this.$router.push({ path: "/revenueSecond" });
        },
        /**
         * @Author: gonghairun
         * @description: 排序
         * @param {*} column
         * @param {*} prop
         * @param {*} order
         * @return {*}
         */
        changeTableSort({ column, prop, order }) {
            this.tableSortData = this.sortChange(this.tableList, prop, order);
        },
        /**
         * @Author: gonghairun
         * @description: 合并单元格
         * @param {*} row
         * @param {*} column
         * @param {*} rowIndex
         * @param {*} columnIndex
         * @return {*}
         */
        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
            if (rowIndex === 0) {
                if (column.label == "通路") {
                    return [1, 2];
                } else if (column.label == "排名") {
                    return [0, 0];
                }
            }
        },
        /**
         * @Author: gonghairun
         * @description: 表格头部
         * @param {*} row
         * @param {*} column
         * @param {*} rowIndex
         * @param {*} columnIndex
         * @return {*}
         */
        headerStyle({ row, column, rowIndex, columnIndex }) {
            let styleobj = {};
            if (column.label == "家内营收") {
                styleobj.backgroundColor = "#00ff00";
                styleobj.fontSize = "24px";
            }
            if (column.label == "预算") {
                styleobj.backgroundColor = "#00b050";
            }
            if (column.label == "实际") {
                styleobj.backgroundColor = "#ffc000";
            }
            if (column.label == "去年") {
                styleobj.backgroundColor = "#bfbfbf";
            }
            if (column.label == "同比") {
                styleobj.borderRightWidth = "2px";
            }
            return styleobj;
        },
        /**
         * @Author: gonghairun
         * @description: 单元格样式
         * @param {*} row
         * @param {*} column
         * @param {*} rowIndex
         * @param {*} columnIndex
         * @return {*}
         */
        cellStyle({ row, column, rowIndex, columnIndex }) {
            let styleobj = {};
            if (rowIndex == 0) {
                styleobj.backgroundColor = "#00ffff";
            }
            if (rowIndex == 3) {
                styleobj.borderBottomWidth = "2px";
            }
            if (column.label == "同比") {
                styleobj.borderRightWidth = "2px";
            }
            if (column.label == "实际") {
                styleobj.backgroundColor = "#fbe5d6";
            }
            if (
                column.label == "通路" ||
                column.label == "排名" ||
                column.label == "责人" ||
                column.label == "达率" ||
                column.label == "实际" ||
                column.label == "同比" ||
                column.label == "毛利"
            ) {
                styleobj.fontWeight = "bold";
            }
            // if (column.label == "排名") {
            //     if (parseInt(row.rank.substr(1)) == 1) {
            //         styleobj.color = "blue";
            //     } else if (
            //         parseInt(row.rank.substr(1)) ==
            //         this.tableSortData.length - 1
            //     ) {
            //         styleobj.color = "red";
            //     }
            // }
            return styleobj;
        },
        /**
         * @Author: gonghairun
         * @description: 文字颜色
         * @param {*} row
         * @param {*} column
         * @param {*} rowIndex
         * @param {*} columnIndex
         * @return {*}
         */
        cellClassName({ row, column, rowIndex, columnIndex }) {
            if (column.label == "达率") {
                return this.getDataColor(row.dalv, 0);
            }
            if (column.label == "同比") {
                return this.getDataColor(row.rate, 1);
            }
            if (column.label == "排名") {
                // let value = this.rankColorProcess(this.tableSortData, "dalv");
                // console.log(value);
                // if (rowIndex <= value[0]) {
                //     return "reach-green";
                // }
                // if (rowIndex + 1 >= value[0] && rowIndex - 2 < value[1]) {
                //     return "reach-red";
                // }
            }
        }
    }
};
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
