<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 10:01:56
 * @Description: //一船一档
-->
<template>
    <div class="ratio chart">
        <publicTitle titleName="家内营收占"></publicTitle>
        <div class="chartContent">
            <pieChart :data="pieList"></pieChart>
        </div>
    </div>
</template>

<script>
import publicTitle from "@/components/publicTitle";
import pieChart from "@/components/pieChart";
export default {
    name: "ratio",
    components: {
        pieChart,
        publicTitle
    },
    data() {
        return {
            pieList: [
                {
                    name: "11",
                    value: 20
                },
                {
                    name: "22",
                    value: 30
                },
                {
                    name: "33",
                    value: 30
                }
            ]
        };
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {}
};
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
