<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 10:31:36
 * @Description: //一船一档
-->
<template>
    <div class="reach chart">
        <publicTitle
            frontName="近3月"
            titleName="家内营收"
            backName="达成比对"
        ></publicTitle>
        <div class="chartContent">
            <barChart
                :data="barData"
                :legend="legend"
                :yAxis="yAxis"
            ></barChart>
        </div>
    </div>
</template>

<script>
import barChart from "@/components/barChart";
import publicTitle from "@/components/publicTitle";
export default {
    name: "reach",
    components: {
        barChart,
        publicTitle
    },
    data() {
        return {
            barData: {
                xAxisData: ["7月", "8月", "9月"],
                data: [
                    {
                        name: "value1",
                        color: "#ffc000",
                        type: "bar",
                        width: "25%",
                        data: [40, 50, 60],
                        unit: ["money", "chartMoney"],
                        labelIsShow: true,
                        borderWidth: 1
                    },
                    {
                        name: "value1",
                        color: "#00ff00",
                        type: "bar",
                        width: "25%",
                        data: [50, 60, 70],
                        unit: ["money", "chartMoney"],
                        labelIsShow: true,
                        borderWidth: 1
                    },
                    {
                        name: "value1",
                        color: "#bfbfbf",
                        type: "bar",
                        width: "25%",
                        data: [22, 33, 44],
                        unit: ["money", "chartMoney"],
                        labelIsShow: true,
                        borderWidth: 1
                    }
                ]
            },
            legend: {
                show: false
            },
            yAxis: {
                isShow: false
            }
        };
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {}
};
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
