<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 10:43:21
 * @Description: //一船一档
-->
<template>
    <div class="trend chart">
        <publicTitle titleName="家内营收" backName="趋势">
            <template slot="left">
                <p class="publicLeft">
                    <img :src="require('@/assets/image/collect.png')" />
                    ：18年历代优季度点
                </p>
            </template>
            <template slot="right">
                <p class="publicRight">
                    <el-select
                        v-model="value"
                        size="mini"
                        placeholder="请选择"
                        style="width:150px"
                    >
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.name"
                            :value="item.value"
                        ></el-option>
                    </el-select>
                </p>
            </template>
        </publicTitle>
        <div class="chartContent">
            <barChart
                :data="barData"
                :chartHandleClick="chartHandleClick"
                :legend="legend"
            ></barChart>
        </div>
    </div>
</template>

<script>
import barChart from "@/components/barChart";
import publicTitle from "@/components/publicTitle";
export default {
    name: "trend",
    components: {
        barChart,
        publicTitle
    },
    data() {
        return {
            barData: {
                xAxisData: ["1", "2", "3", "4", "5", "6"],
                data: [
                    {
                        name: "value1",
                        color: "#ffc000",
                        type: "line",
                        width: 20,
                        data: [10, 20, 30, 40, 50, 60],
                        unit: ["money", "chartMoney"],
                        labelIsShow: true
                    },
                    {
                        name: "value1",
                        color: "#00ff00",
                        type: "line",
                        width: 20,
                        data: [20, 30, 40, 50, 60, 70],
                        unit: ["money", "chartMoney"],
                        labelIsShow: true
                    },
                    {
                        name: "value1",
                        color: "#fff",
                        type: "line",
                        width: 20,
                        data: [5, 10, 13, 22, 33, 44],
                        unit: ["money", "chartMoney"],
                        symbol: `image://${require("@/assets/image/collect.png")}`,
                        symbolSize: 16
                    }
                ]
            },
            legend: {
                show: false
            },
            value: "",
            options: [
                {
                    name: "网批",
                    value: "0"
                },
                {
                    name: "电商",
                    value: "1"
                },
                {
                    name: "群采",
                    value: "2"
                }
            ]
        };
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {
        /**
         * @Author: gonghairun
         * @description:
         * @param {*} value
         * @return {*}
         */

        chartHandleClick(value) {
            console.log(value);
        }
    }
};
</script>

<style lang="less" scoped>
@import "../index.less";
</style>
