.revenueSecond {
    width: 100%;
    height: 100%;
    .top {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: ~"calc(100% - 40px)";
        .detail {
            width: 100%;
            height: 100%;
        }
    }
}
