<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 13:44:16
 * @Description: //一船一档
-->
<template>
    <div class="revenueSecond">
        <div class="top">
            <btnGroup :btnList="btnList" :handleClick="handleClick"></btnGroup>
        </div>
        <div class="bottom">
            <detail></detail>
        </div>
    </div>
</template>

<script>
import detail from "./subPage/detail"; // 家内营收
import btnGroup from "../../components/btnGroup";
export default {
    name: "revenue",
    components: {
        detail,
        btnGroup
    },
    data() {
        return {
            radioValue: "中心",
            btnList: [
                {
                    text: "签约客户",
                    flag: true
                },
                {
                    text: "单店",
                    flag: true
                },
                {
                    text: "新拓",
                    flag: true
                },
                {
                    text: "关店率",
                    flag: true
                },
                {
                    text: "异常率",
                    flag: false
                },
                {
                    text: "下单率",
                    flag: false
                }
            ],
            columns: [
                {
                    label: "签约客户",
                    list: [
                        {
                            prop: "",
                            label: "达率"
                        },
                        {
                            prop: "",
                            label: "数量"
                        },
                        {
                            prop: "",
                            label: "同比"
                        }
                    ]
                },
                {
                    label: "单店",
                    list: [
                        {
                            prop: "",
                            label: "达率"
                        },
                        {
                            prop: "",
                            label: "销额(万)"
                        },
                        {
                            prop: "",
                            label: "同比"
                        }
                    ]
                },
                {
                    label: "新拓",
                    list: [
                        {
                            prop: "",
                            label: "达率"
                        },
                        {
                            prop: "",
                            label: "实际"
                        },
                        {
                            prop: "",
                            label: "同比"
                        }
                    ]
                },
                {
                    label: "关店率",
                    list: [
                        {
                            prop: "",
                            label: "达率"
                        },
                        {
                            prop: "",
                            label: "实际"
                        },
                        {
                            prop: "",
                            label: "同比"
                        }
                    ]
                },
                {
                    label: "异常率",
                    list: [
                        {
                            prop: "",
                            label: "达率"
                        },
                        {
                            prop: "",
                            label: "实际"
                        },
                        {
                            prop: "",
                            label: "同比"
                        }
                    ]
                },
                {
                    label: "下单率",
                    list: [
                        {
                            prop: "",
                            label: "达率"
                        },
                        {
                            prop: "",
                            label: "实际"
                        },
                        {
                            prop: "",
                            label: "同比"
                        }
                    ]
                }
            ]
        };
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {
        /**
         * @Author: gonghairun
         * @description: 修改数据
         * @param {*} value
         * @return {*}
         */
        onChange(value) {
            this.radioValue = value;
        },
        handleClick(index) {
            let flagLength = this.btnList.filter(item => {
                item.flag;
            }).length;
            let valueLength = this.btnList.filter((item, key) => {
                key == index && item.flag;
            }).length;
            if (flagLength.length == 1 && valueLength == 1) return;
            this.$set(this.btnList[index], "flag", !this.btnList[index].flag);
        }
    }
};
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
