<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 10:30:41
 * @Description: //一船一档
-->
<template>
    <div class="bar" :id="id"></div>
</template>

<script>
export default {
    components: {},
    props: {
        // 数据
        data: {
            type: Object
        },
        // 点击事件
        chartHandleClick: {
            type: Function
        },
        // 间距
        grid: {
            type: Object,
            default: () => {
                return {
                    left: 50,
                    top: 20,
                    right: 20,
                    bottom: 30
                };
            }
        },
        // 图例
        legend: {
            type: Object,
            default: () => {
                return {
                    show: true,
                    itemWidth: 20,
                    itemHeight: 12,
                    textStyle: {
                        color: "#333"
                    }
                };
            }
        },
        // y轴配置
        yAxis: {
            type: Object,
            default: () => {
                return {
                    isShow: true
                };
            }
        }
    },
    data() {
        return {
            id: "",
            seriesData: []
        };
    },
    watch: {},
    computed: {},
    methods: {
        setBarOption() {
            var _this = this;
            _this.data.data.map(item => {
                _this.seriesData.push({
                    stack: item.stack,
                    barGap: !item.barGap ? 0 : item.barGap,
                    name: item.name,
                    type: item.type,
                    data: item.data,
                    barWidth: item.width,
                    yAxisIndex: item.yAxisIndex,
                    zlevel: item.zlevel, //柱子层级
                    symbol: item.symbol ? item.symbol : "circle",
                    symbolSize: item.symbolSize ? item.symbolSize : 8,
                    itemStyle: {
                        normal: {
                            color: item.color,
                            // barBorderRadius:[15, 15, 0, 0],
                            borderColor: "#333",
                            borderWidth: item.borderWidth ? item.borderWidth : 0
                        }
                    },
                    lineStyle: {
                        normal: {
                            color: item.color // 线条颜色
                        },
                        borderColor: "#f0f"
                    },
                    markLine: {
                        width: 200,
                        silent: true,
                        lineStyle: item.markLine ? item.markLine.lineStyle : "",
                        symbolSize: 0,
                        label: item.markLine ? item.markLine.label : "",
                        data: item.markLine ? item.markLine.data : 0
                    },
                    // areaStyle: { //区域填充样式
                    //     normal: {
                    //         //线性渐变，前4个参数分别是x0,y0,x2,y2(范围0~1);相当于图形包围盒中的百分比。如果最后一个参数是‘true’，则该四个值是绝对像素位置。
                    //         color: new _this.$echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    //                 offset: 0,
                    //                 color: 'rgba(38,190,184,0.26)'
                    //             },
                    //             {
                    //                 offset: 1,
                    //                 color: 'rgba(22,161,233,0.05)'
                    //             }
                    //         ], false),
                    //         shadowColor: 'rgba(53,142,215, 0.9)', //阴影颜色
                    //         shadowBlur: 20 //shadowBlur设图形阴影的模糊大小。配合shadowColor,shadowOffsetX/Y, 设置图形的阴影效果。
                    //     }
                    // },
                    label: {
                        normal: {
                            show: item.labelIsShow,
                            position: "top",
                            fontFamily: "pingfang",
                            marginTop: 15,
                            color: item.color,
                            fontWeight: "bold",
                            fontSize: 16
                            // formatter: function(params) {
                            //     if (item.unit[0] === "percent") {
                            //         return (
                            //             _this.dataProcess(
                            //                 params.value,
                            //                 item.unit[0],
                            //                 item.unit[1]
                            //             ).num +
                            //             _this.dataProcess(
                            //                 params.value,
                            //                 item.unit[0],
                            //                 item.unit[1]
                            //             ).unit
                            //         );
                            //     } else {
                            //         return _this.dataProcess(
                            //             params.value,
                            //             item.unit[0],
                            //             item.unit[1]
                            //         ).num;
                            //     }
                            // }
                        }
                    }
                });
            });
            let option = {
                tooltip: {
                    trigger: "axis",
                    confine: true,
                    axisPointer: {
                        type: "shadow"
                    },
                    backgroundColor: "rgba(11,25,40,0.96)",
                    textStyle: {
                        color: "#fff",
                        fontSize: 16,
                        align: "left",
                        fontFamily: "pingfang"
                    },
                    // borderWidth:2,
                    // borderColor:'#0f4985',
                    label: {
                        normal: {
                            fontFamily: "pingfang"
                        }
                    }
                    // extraCssText:
                    //     "box-shadow:0px 6px 18px 0px rgba(11,25,40,0.96)"
                    // formatter:function(params){
                    //     let relVal=''
                    //     relVal += params[0].name+'</br>'
                    //     _this.data.data.map((item)=>{
                    //         params.map((childItem)=>{
                    //             if (item.name == childItem.seriesName) {
                    //                 relVal += childItem.marker+childItem.seriesName+':'+_this.dataProcess(childItem.value,item.unit[0]).num + _this.dataProcess(childItem.value,item.unit[0]).unit+'</br>'
                    //             }
                    //         })
                    //     })
                    //     return relVal
                    // },
                },
                grid: _this.grid,
                legend: _this.legend,
                xAxis: [
                    {
                        type: "category",
                        boundaryGap: true,
                        axisLine: {
                            //坐标轴轴线相关设置。数学上的x轴
                            show: true,
                            lineStyle: {
                                color: "#333"
                            }
                        },
                        axisLabel: {
                            //坐标轴刻度标签的相关设置
                            textStyle: {
                                color: "#333",
                                fontFamily: "pingfang",
                                fontSize: 16
                                // margin: 15,
                            }
                            // formatter:function(value){
                            // if (!_this.rotate) {
                            //     return value
                            // } else {
                            //     var ret = "";//拼接加\n返回的类目项
                            //     var maxLength = 3;//每项显示文字个数
                            //     var valLength = value.length;//X轴类目项的文字个数
                            //     var rowN = Math.ceil(valLength / maxLength); //类目项需要换行的行数
                            //     if (rowN > 1) {  //如果类目项的文字大于5,
                            //         for (var i = 0; i < rowN; i++) {
                            //             var temp = "";//每次截取的字符串
                            //             var start = i * maxLength;//开始截取的位置
                            //             var end = start + maxLength;//结束截取的位置
                            //         //这里也可以加一个是否是最后一行的判断，但是不加也没有影响，那就不加吧
                            //             temp = value.substring(start, end) + "\n";
                            //             ret += temp; //凭借最终的字符串
                            //         }
                            //         return ret
                            //     }else {
                            //         return value
                            //     }
                            // }
                            // }
                        },
                        axisTick: {
                            show: false
                        },
                        data: _this.data.xAxisData
                    }
                ],
                yAxis: [
                    {
                        type: "value",
                        name: _this.data.yAxisIndex0Name,
                        show: _this.yAxis.isShow,
                        splitLine: {
                            show: false,
                            lineStyle: {
                                color: "#333",
                                type: "dashed"
                            }
                        },
                        axisLine: {
                            //坐标轴轴线相关设置。数学上的x轴
                            show: true,
                            lineStyle: {
                                color: "#333"
                            }
                        },
                        axisTick: {
                            show: false,
                            inside: true
                        },
                        axisLabel: {
                            textStyle: {
                                color: "#333",
                                fontFamily: "pingfang"
                            },
                            fontSize: 16
                            // formatter: function(value) {
                            //     let unit = "";
                            //     _this.data.data.map(item => {
                            //         if (item.yAxisIndex == 0) {
                            //             unit = item.unit;
                            //         }
                            //     });
                            //     value = _this.dataProcess(value, unit[1]).num;
                            //     return value;
                            // }
                        }
                    },
                    {
                        show: _this.data.yAxisIndex1Name ? true : false,
                        type: "value",
                        name: _this.data.yAxisIndex1Name,
                        nameTextStyle: {
                            color: "#fff",
                            fontSize: 16,
                            align: "center",
                            padding: [0, -20, 0, 25]
                        },
                        splitLine: {
                            show: false,
                            lineStyle: {
                                color: "#0a3256"
                            }
                        },
                        axisLine: {
                            //坐标轴轴线相关设置。数学上的x轴
                            show: false,
                            lineStyle: {
                                color: "rgba(45,139,255,0.6)"
                            }
                        },
                        axisTick: {
                            show: false,
                            inside: true
                        },
                        axisLabel: {
                            textStyle: {
                                color: "rgba(255,255,255,1)",
                                fontFamily: "pingfang"
                            },
                            fontSize: 16,
                            formatter: function(value) {
                                let unit = "";
                                _this.data.data.map(item => {
                                    if (item.yAxisIndex == 1) {
                                        unit = item.unit;
                                    }
                                });
                                value =
                                    unit == "set"
                                        ? value
                                        : _this.dataProcess(value, unit[1]).num;
                                return value;
                            }
                        }
                    }
                ],
                series: _this.seriesData
            };
            _this.myChart.setOption(option);
            _this.myChart.on("click", function(params) {
                console.log(params);
                _this.chartHandleClick(params.name);
            });
        },
        genRandomString(len) {
            const text = "abcdefghijklmnopqrstuvwxyz0123456789";
            const rdmIndex = text => (Math.random() * text.length) | 0;
            let rdmString = "";
            for (
                ;
                rdmString.length < len;
                rdmString += text.charAt(rdmIndex(text))
            );
            return rdmString;
        }
    },
    created() {
        this.id = this.genRandomString(20);
    },
    mounted() {
        const _this = this;
        let echarts = _this.$echarts;
        _this.myChart = echarts.init(document.getElementById(this.id));
        _this.setBarOption();
        window.addEventListener("resize", () => {
            _this.myChart.resize();
        });
    }
};
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
