<template>
  <div class="all">
    <div class="table_box fill">
      <el-table
        :data="tableSortData"
        :span-method="arraySpanMethod"
        :header-cell-style="headerStyle"
        :cell-style="cellStyle"
        :cell-class-name="cellClassName"
        @sort-change="changeTableSort"
        border
      >
        <el-table-column label="家内营收" align="center">
          <template slot="header">
            <span class="t-center del-wrap-space">
              家内【
              <span class="blue">营收</span>
              】
            </span>
          </template>
          <el-table-column
            prop="system"
            label="体系"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="rank"
            label="排名"
            align="center"
            width="65"
          ></el-table-column>
          <el-table-column
            prop="dalv"
            label="达率"
            align="center"
            sortable="custom"
          ></el-table-column>
          <el-table-column
            prop="target"
            label="预算"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="fact"
            label="实际"
            align="center"
            sortable="custom"
          ></el-table-column>
          <el-table-column
            prop="old"
            label="去年"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="rate"
            label="同比"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="maoli"
            label="毛利"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="charge"
            label="责人"
            align="center"
            width="100"
          ></el-table-column>
          <el-table-column
            prop="guandong"
            label="管动"
            align="center"
            width="45"
          ></el-table-column>
        </el-table-column>
      </el-table>
    </div>
    <div class="echarts_box">
      <div class="top_box pr">
        <select name="" id="">
          <option value="网批">网批</option>
          <option value="电商">电商</option>
          <option value="群采">群采</option>
        </select>
        <div class="line"></div>
      </div>
      <div class="center_box pr"></div>
      <div class="bottom_box"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [],
      tableSortData: []
    };
  },
  methods: {
    //合并单元格
    arraySpanMethod({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        if (column.label == "体系") {
          return [1, 2];
        } else if (column.label == "排名") {
          return [0, 0];
        }
      }
    },
    //表格头部
    headerStyle({ row, column, rowIndex, columnIndex }) {
      let styleobj = {};
      if (column.label == "家内营收") {
        styleobj.backgroundColor = "#00ff00";
        styleobj.fontSize = "24px";
      }
      if (column.label == "预算") {
        styleobj.backgroundColor = "#00b050";
      }
      if (column.label == "实际") {
        styleobj.backgroundColor = "#ffc000";
      }
      if (column.label == "去年") {
        styleobj.backgroundColor = "#bfbfbf";
      }
      if (column.label == "同比") {
        styleobj.borderRightWidth = "2px";
      }
      return styleobj;
    },
    //单元格样式
    cellStyle({ row, column, rowIndex, columnIndex }) {
      let styleobj = {};
      if (rowIndex == 0) {
        styleobj.backgroundColor = "#00ffff";
      }
      if (rowIndex == 3) {
        styleobj.borderBottomWidth = "2px";
      }
      if (column.label == "体系") {
        styleobj.borderLeftWidth = "1px";
      }
      if (column.label == "同比") {
        styleobj.borderRightWidth = "2px";
      }
      if (column.label == "实际") {
        styleobj.backgroundColor = "#fbe5d6";
      }
      if (column.label !== "责人" && column.label !== "管动") {
        styleobj.fontWeight = "bold";
      }
      if (column.label == "排名") {
        if (parseInt(row.rank.substr(1)) == 1) {
          styleobj.color = "blue";
        } else if (parseInt(row.rank.substr(1)) == this.tableData.length - 1) {
          styleobj.color = "red";
        }
      }
      return styleobj;
    },
    cellClassName({ row, column, rowIndex, columnIndex }) {
      if (column.label == "达率") {
        if (row.dalv < 95) {
          return "reach-red";
        } else if (row.dalv > 100) {
          return "reach-green";
        } else {
          return "reach-yellow";
        }
      }
      if (column.label == "同比") {
        if (row.rate < 0) {
          return "reach-red";
        } else {
          return "reach-green";
        }
      }
    },
    getTableData() {
      this.tableData = this.tableSortData = [
        {
          system: "整体",
          rank: "",
          dalv: 99,
          target: 65,
          fact: 64.7,
          old: 70,
          rate: -8,
          maoli: 24,
          charge: "叶盛峰",
          guandong: "+"
        },
        {
          system: "网批",
          rank: "第4",
          dalv: 99,
          target: 31.7,
          fact: 31.6,
          old: 19.2,
          rate: 65,
          maoli: 24,
          charge: "吕丽荣",
          guandong: "+"
        },
        {
          system: "电商",
          rank: "第5",
          dalv: 99,
          target: 31.0,
          fact: 30.6,
          old: 47.1,
          rate: -35,
          maoli: 23,
          charge: "高朋",
          guandong: "+"
        },
        {
          system: "微店",
          rank: "第3",
          dalv: 102,
          target: 1.8,
          fact: 1.8,
          old: 1.7,
          rate: 5,
          maoli: 29,
          charge: "王应军",
          guandong: "+"
        },
        {
          system: "群采",
          rank: "第1",
          dalv: 137,
          target: 0.2,
          fact: 0.3,
          old: 0.6,
          rate: -45,
          maoli: 17,
          charge: "谢豹",
          guandong: "+"
        },
        {
          system: "卖场",
          rank: "第2",
          dalv: 128,
          target: 0.17,
          fact: 0.2,
          old: 1.69,
          rate: -88,
          maoli: 37,
          charge: "王辉辉",
          guandong: "+"
        }
      ];
    },
    initCharts() {
      //家内营收趋势图
      let topChart = this.$echarts.init(document.querySelector(".line"));

      const option_top = {
        title: [
          {
            text: "家内营收",
            left: "240",
            top: "10",
            textStyle: {
              color: "#2626ff"
            }
          },
          {
            text: "趋势",
            left: "313",
            top: "10"
          }
        ],
        xAxis: {
          type: "category",
          axisTick: {
            show: false
          },
          axisLabel: {
            fontWeight: "bold"
          },
          data: [
            "1月",
            "2月",
            "3月",
            "4月",
            "5月",
            "6月",
            "7月",
            "8月",
            "9月",
            "10月",
            "11月",
            "12月"
          ]
        },
        yAxis: {
          type: "value",
          name: "★：18年历优季度点",
          nameTextStyle: {
            padding: [0, 0, 10, 40]
          },
          axisTick: {
            show: false
          },
          splitLine: {
            show: false
          },
          splitNumber: 3
        },
        grid: {
          left: "2%",
          containLabel: true,
          width: "90%",
          height: "65%"
        },
        series: [
          {
            data: [48, 21, 66, 8, -49, -26, -10, 12, 40, -25, 45, 41],
            type: "line",
            zlevel: 2,
            label: {
              show: true,
              formatter: arg => {
                if (arg.data > 0) {
                  return `{green|${arg.data}%}`;
                } else {
                  return `{red|${arg.data}%}`;
                }
              },
              rich: {
                green: {
                  color: "#05bc57",
                  fontWeight: "bold"
                },
                red: {
                  color: "#ff2424",
                  fontWeight: "bold"
                }
              }
            },
            lineStyle: {
              color: "#ffcc05",
              type: "solid"
            },
            itemStyle: {
              color: "#ffcc05"
            }
          },
          {
            data: [20, 50, 20, 10, 15, -10, -20, 0, 15, 45, 20, 10],
            type: "line",
            lineStyle: {
              color: "#cccccc",
              type: "solid"
            },
            itemStyle: {
              color: "#cccccc"
            },
            label: {
              show: true,
              formatter: arg => {
                if (
                  arg.name == "3月" ||
                  arg.name == "6月" ||
                  arg.name == "9月" ||
                  arg.name == "12月"
                ) {
                  return "{color|★}";
                } else {
                  return "";
                }
              },
              rich: {
                color: {
                  color: "#000"
                }
              }
            }
          },
          {
            data: [15, 10, 25, 0, -10, -25, -15, 15, 25, 10, 45, 20],
            type: "line",
            lineStyle: {
              color: "#05bc57",
              type: "dashed"
            },
            itemStyle: {
              color: "#05bc57"
            }
          }
        ]
      };

      topChart.setOption(option_top);

      //近3月家内营收达成对比柱状图
      let centerChart = this.$echarts.init(
        document.querySelector(".center_box")
      );

      const option_center = {
        title: [
          {
            text: "近3月",
            left: "203",
            top: "10"
          },
          {
            text: "家内营收",
            left: "250",
            top: "10",
            textStyle: {
              color: "#2626ff"
            }
          },
          {
            text: "达成比对",
            left: "323",
            top: "10"
          }
        ],
        xAxis: {
          type: "category",
          axisTick: {
            show: false
          },
          axisLabel: {
            fontWeight: "bold"
          },
          data: ["8月", "9月", "10月"]
        },
        yAxis: {
          type: "value",
          show: false,
          axisTick: {
            show: false
          },
          splitLine: {
            show: false
          }
        },
        grid: {
          left: "2%",
          containLabel: true,
          width: "90%",
          height: "65%"
        },
        series: [
          {
            data: [48, 21, 66],
            type: "bar",
            barGap: "0",
            barWidth: "20%",
            label: {
              show: true,
              position: "top",
              fontWeight: "bold"
            },
            itemStyle: {
              color: "#05bc57",
              borderColor: "#cccccc",
              borderWidth: 1,
              shadowBlur: 1
            }
          },
          {
            data: [20, 50, 20],
            type: "bar",
            barGap: "0",
            barWidth: "20%",
            label: {
              show: true,
              position: "top",
              fontWeight: "bold"
            },
            itemStyle: {
              color: "#ffcc05",
              borderColor: "#cccccc",
              borderWidth: 1,
              shadowBlur: 1
            }
          },
          {
            data: [15, 10, 25],
            type: "bar",
            barGap: "0",
            barWidth: "20%",
            label: {
              show: true,
              position: "top",
              fontWeight: "bold"
            },
            itemStyle: {
              color: "#cccccc",
              borderColor: "#cccccc",
              borderWidth: 1,
              shadowBlur: 1
            }
          }
        ]
      };

      centerChart.setOption(option_center);

      //家内营收占饼图
      let bottomChart = this.$echarts.init(
        document.querySelector(".bottom_box")
      );

      const option_bottom = {
        title: {
          text: "家内营收占比",
          left: "203",
          top: "10",
          textStyle: {
            color: "#2626ff",
            lineHeight: 30
          }
        },
        grid: {},
        series: [
          {
            type: "pie",
            label: {
              color: "#000",
              fontSize: 16,
              position: "outside",
              fontWeight: "bold",
              formatter: arg => {
                return `${arg.data.name}  ${arg.data.value}`;
              }
            },
            labelLine: {
              show: true,
              length: 0,
              length2: 0
            },
            radius: ["50%", "85%"],
            itemStyle: {
              color: arg => {
                if (arg.name == "电商") {
                  return "#ffd966";
                }
                if (arg.name == "微店") {
                  return "#fe7d80";
                }
                if (arg.name == "销司") {
                  return "#a9d18e";
                }
                if (arg.name == "群采") {
                  return "#d84041";
                }
                if (arg.name == "网批") {
                  return "#00b0f0";
                }
              }
            },
            data: [
              {
                name: "电商",
                value: 34.9
              },
              {
                name: "微店",
                value: 1.8
              },
              {
                name: "销司",
                value: 6.5
              },
              {
                name: "群采",
                value: 0.3
              },
              {
                name: "网批",
                value: 30.2
              }
            ]
          }
        ]
      };

      bottomChart.setOption(option_bottom);
    },
    //对表格进行排序
    changeTableSort(column) {
      const orderGroup = [];
      const fieldName = column.prop;
      const sortingType = column.order;
      this.tableSortData.map(item => {
        orderGroup.push(item);
      });
      // 降序排序
      if (sortingType == "descending") {
        this.tableSortData = orderGroup.sort((a, b) => {
          let aVal = a[fieldName];
          let bVal = b[fieldName];
          // 令中心总体所在行指标值最大
          if (a.system == "整体") {
            aVal = 99999999;
          }
          if (b.system == "整体") {
            bVal = 99999999;
          }
          return bVal - aVal;
        });
      } else if (sortingType == "ascending") {
        // 升序排序
        this.tableSortData = orderGroup.sort((a, b) => {
          let aVal = a[fieldName];
          let bVal = b[fieldName];
          if (a.system == "整体") {
            aVal = -2;
          }
          if (b.system == "整体") {
            bVal = -2;
          }
          return aVal - bVal;
        });
      } else {
        this.tableSortData = [];
        this.tableSortData = this.tableData; // 清除排序
      }
    }
  },
  mounted() {
    this.getTableData();
    this.initCharts();
  }
};
</script>

<style scoped lang="less">
// table边框颜色
// .el-table--border:after,
// .el-table--group:after,
.el-table:before {
  background-color: #000;
}

// .el-table--border,
.el-table--group {
  border-color: #000;
}

.el-table/deep/ .caret-wrapper {
  height: 18px !important;
}
.el-table/deep/ .sort-caret.ascending {
  top: -5px !important;
}
.el-table/deep/ .sort-caret.descending {
  bottom: -2px !important;
}

.all {
  display: flex;
  justify-content: space-between;
  .table_box {
    width: 58%;
    height: 100%;
  }
  .echarts_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41%;
    height: 100%;

    .top_box,
    .center_box,
    .bottom_box {
      width: 100%;
      height: 32%;
      border: 1px solid #d6d6d6;
    }
    .top_box {
      .line {
        width: 100%;
        height: 100%;
      }
      select {
        position: absolute;
        right: 15%;
        top: 5%;
        width: 70px;
        padding: 2px 5px;
        outline: none;
        z-index: 10;
      }
    }
  }
}
</style>
