<!--
 * @Author: gonghairun
 * @Date: 2021-03-16 14:52:31
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 10:21:59
 * @Description: //饼图
-->
<template>
    <div class="pieChart" :id="id"></div>
</template>

<script>
export default {
    components: {},
    props: {
        // 数据
        data: {
            type: Array
        },
        grid: {
            type: Object
        },
        chartHandleClick: {
            type: Function
        },
        radius: {
            type: Array,
            default: () => {
                return ["40%", "75%"];
            }
        }
    },
    data() {
        return {
            id: "",
            seriesData: []
        };
    },
    watch: {},
    computed: {},
    methods: {
        setPieOption() {
            const _this = this;
            let color = [];
            const legendList = [];
            color = [
                "#E56A18",
                "#FFBF0F",
                "#FFECB1",
                "#ABB5C2",
                "#2C92F6",
                "#33CC99",
                "#FF801C",
                "#F5FF46",
                "#00FE65",
                "#00FEFF",
                "#ffa800",
                "#ff5b00",
                "#ff3000"
            ];
            _this.data.map((item, index) => {
                legendList.push(item.name);
            });
            let option = {
                color: color,
                grid: {
                    left: 0
                },
                tooltip: {
                    trigger: "item",
                    confine: true,
                    backgroundColor: "rgba(11,25,40,0.96)",
                    textStyle: {
                        color: "#fff",
                        fontSize: 16,
                        align: "left",
                        fontFamily: "pingfang"
                    }
                    // textStyle: {
                    //     color: '#000'
                    // },
                    // backgroundColor: '#fff',
                    // extraCssText: 'box-shadow: 0px 0px 10px 0px rgba(19,83,88,0.2)'
                },
                // legend: {
                //     // orient: 'vertical',
                //     top:'center',
                //     left:'45%',
                //     itemGap:20,
                //     itemWidth:15,
                //     itemHeight:15,
                //     icon:'circle',
                //     textStyle: {
                //         align: 'left',
                //         verticalAlign: 'middle',
                //         rich: {
                //             name: {
                //                 color: 'rgba(255,255,255,0.5)',
                //                 fontSize: 14,
                //                 width: 120,
                //                 align: 'left'
                //             },
                //             value: {
                //                 color: 'rgba(255,255,255,0.5)',
                //                 fontSize: 14,
                //                 width: 50,
                //                 align: 'right'
                //             },
                //             rate: {
                //                 color: 'rgba(255,255,255,0.9)',
                //                 fontSize: 14,
                //                 width: 80,
                //                 align: 'right'
                //             },
                //         },
                //     },
                //     data: legendList,
                //     formatter: (name) => {
                //         if (_this.data.length) {
                //             let total = 0
                //             _this.data.map((item)=>{
                //                 total += item.value
                //             })
                //             const item = _this.data.filter((item) => item.name === name)[0];
                //             return `{name|${name}}{value| ${total == 0 ? '0%' : _this.dataProcess(item.value/total,'percent').num+_this.dataProcess(item.value/total,'percent').unit}} {rate| ${_this.dataProcess(item.value,'money').num+_this.dataProcess(item.value,'money').unit}}`;
                //         }
                //     },
                // },
                legend: {
                    type: "plain",
                    orient: "vertical",
                    left: "45%",
                    top: "center",
                    align: "left",
                    itemGap: 10,
                    itemWidth: 30,
                    itemHeight: 20,
                    icon: "circle",
                    symbolKeepAspect: false,
                    textStyle: {
                        color: "#000",
                        rich: {
                            name: {
                                verticalAlign: "right",
                                align: "left",
                                width: 80,
                                fontSize: 16,
                                color: "#333"
                            },
                            value: {
                                align: "left",
                                width: 60,
                                fontSize: 16,
                                color: "#333"
                            }
                        }
                    },
                    data: _this.data.map(item => {
                        return item.name;
                    }),
                    formatter: function(name) {
                        if (_this.data && _this.data.length) {
                            let total = 0;
                            _this.data.map(item => {
                                total += item.value;
                            });
                            for (var i = 0; i < _this.data.length; i++) {
                                if (name === _this.data[i].name) {
                                    return (
                                        "{name| " +
                                        name +
                                        "}  " +
                                        "{value| " +
                                        _this.data[i].value +
                                        "}" +
                                        "{value| " +
                                        (
                                            (_this.data[i].value / total) *
                                            100
                                        ).toFixed(1) +
                                        "%}"
                                    );
                                }
                            }
                        }
                    }
                },
                // legend: [
                //     {
                //         top: "center",
                //         left: "45%",
                //         orient: "vertical",
                //         itemGap: 5,
                //         itemWidth: 30,
                //         itemHeight: 20,
                //         icon: "circle",
                //         textStyle: {
                //             align: "left",
                //             verticalAlign: "middle",
                //             rich: {
                //                 name: {
                //                     color: "#333",
                //                     fontSize: 16,
                //                     width: 50,
                //                     align: "left"
                //                 },
                //                 value: {
                //                     color: "#333",
                //                     fontSize: 16,
                //                     width: 40,
                //                     align: "right"
                //                 },
                //                 rate: {
                //                     color: "#333",
                //                     fontSize: 16,
                //                     width: 50
                //                     // align: "right"
                //                 }
                //             }
                //         },
                //         data: legendList,
                //         formatter: params => {
                //             if (_this.data.length) {
                //                 let total = 0;
                //                 _this.data.map(item => {
                //                     total += item.value;
                //                 });
                //                 const item = _this.data.filter(
                //                     item => item.name === params
                //                 )[0];
                //                 //超过十个字符就换行展示
                //                 var newParamsName = ""; // 最终拼接成的字符串
                //                 var paramsNameNumber = params.length; // 实际标签的个数
                //                 var provideNumber = 8; // 每行能显示的字的个数
                //                 var rowNumber = Math.ceil(
                //                     paramsNameNumber / provideNumber
                //                 ); // 换行的话，需要显示几行，向上取整
                //                 // 条件等同于rowNumber>1
                //                 if (paramsNameNumber > provideNumber) {
                //                     for (var p = 0; p < rowNumber; p++) {
                //                         var tempStr = ""; // 表示每一次截取的字符串
                //                         var start = p * provideNumber; // 开始截取的位置
                //                         var end = start + provideNumber; // 结束截取的位置
                //                         // 此处特殊处理最后一行的索引值
                //                         if (p == rowNumber - 1) {
                //                             // 最后一次不换行
                //                             tempStr = params.substring(
                //                                 start,
                //                                 paramsNameNumber
                //                             );
                //                         } else {
                //                             // 每一次拼接字符串并换行
                //                             tempStr =
                //                                 params.substring(start, end) +
                //                                 "\n";
                //                         }
                //                         newParamsName += tempStr; // 最终拼成的字符串
                //                     }
                //                 } else {
                //                     // 将旧标签的值赋给新标签
                //                     newParamsName = params;
                //                 }
                //                 //将最终的字符串返回
                //                 // {value| ${total == 0 ? '0.00%' : _this.dataProcess(item.value/total,'percent1').num+_this.dataProcess(item.value/total,'percent1').unit}}
                //                 return `{name|${newParamsName}}{rate| ${_this.dataProcess(
                //                     item.value,
                //                     "money"
                //                 ).num +
                //                     _this.dataProcess(item.value, "money")
                //                         .unit}}
                //                         {value| ${_this.dataProcess(
                //                             item.value / total,
                //                             "percent"
                //                         ).num +
                //                             _this.dataProcess(
                //                                 item.value / total,
                //                                 "percent"
                //                             ).unit}}`;
                //             }
                //         }
                //     }
                // ],
                series: [
                    {
                        name: "",
                        type: "pie",
                        radius: _this.radius,
                        center: ["25%", "50%"],
                        clockwise: false,
                        avoidLabelOverlap: false,
                        // selectedMode: "single",
                        hoverOffset: 10,
                        legendHoverLink: true,
                        label: {
                            show: _this.labelShow,
                            fontSize: 12,
                            // position: 'outside',
                            // padding:[0,10,0,-20],
                            formatter: value => {
                                return value.percent.toFixed(2) + "%";
                            }
                            // emphasis: {
                            //     show: false,
                            //     textStyle: {
                            //         fontSize: '20',
                            //         fontWeight: '400'
                            //     }
                            // }
                        },
                        labelLine: {
                            normal: {
                                show: false,
                                length: 5,
                                length2: 0,
                                lineStyle: {
                                    width: 1
                                }
                            }
                        },
                        // itemStyle: {
                        //     normal: {
                        //         borderColor: '#ffffff',
                        //     }
                        // },
                        data: _this.data
                    }
                ]
            };
            _this.myChart.setOption(option);
            _this.myChart.on("click", function(params) {
                console.log(params);
                _this.chartHandleClick(params.name);
            });
            // _this.getDefaultSelected(_this.myChart)
        },
        genRandomString(len) {
            const text = "abcdefghijklmnopqrstuvwxyz0123456789";
            const rdmIndex = text => (Math.random() * text.length) | 0;
            let rdmString = "";
            for (
                ;
                rdmString.length < len;
                rdmString += text.charAt(rdmIndex(text))
            );
            return rdmString;
        },
        getDefaultSelected(myChart) {
            let index = 0;
            myChart.dispatchAction({
                type: "highlight",
                seriesIndex: 0,
                dataIndex: 0
            });
            myChart.on("mouseover", e => {
                if (e.dataIndex !== index) {
                    myChart.dispatchAction({
                        type: "downplay",
                        seriesIndex: 0,
                        dataIndex: index
                    });
                }
            });
            myChart.on("mouseout", e => {
                index = e.dataIndex;
                myChart.dispatchAction({
                    type: "highlight",
                    seriesIndex: 0,
                    dataIndex: e.dataIndex
                });
            });
        }
    },
    created() {
        this.id = this.genRandomString(20);
    },
    mounted() {
        var _this = this;
        let echarts = _this.$echarts;
        _this.myChart = echarts.init(document.getElementById(this.id));
        // _this.getDefaultSelected(_this.myChart)
        _this.setPieOption();
        window.addEventListener("resize", () => {
            _this.myChart.resize();
        });
    }
};
</script>
<style lang="less" scoped>
@import "./index.less";
</style>
