<!--
 * @Author: your name
 * @Date: 2021-12-13 16:02:20
 * @LastEditTime: 2021-12-14 13:43:54
 * @LastEditors: gonghairun
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \aux-bis-boss\src\components\btnGroep.vue
-->
<template>
    <div>
        <el-button
            size="mini"
            :class="{ 'active-btn': item.flag }"
            v-for="(item, index) in btnList"
            :key="index"
            @click="activeBtn(index)"
        >
            {{ item.text }}
        </el-button>
    </div>
</template>

<script>
export default {
    name: "AuxBisBossBtngroep",

    data() {
        return {};
    },
    props: {
        btnList: {
            type: Array
        },
        handleClick: {
            type: Function
        }
    },
    mounted() {},

    methods: {
        activeBtn(index) {
            this.handleClick(index);
        }
    }
};
</script>

<style lang="less" scoped>
// 选中之后的按钮
.active-btn {
    background: @color-blue !important;
    color: #fff !important;
}
</style>
