<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 10:43:58
 * @Description: //一船一档
-->
<template>
    <div class="publicTitle">
        <slot name="left" />
        <p class="center">
            <span>{{ frontName }}</span>
            <span class="special">{{ titleName }}</span>
            <span>{{ backName }}</span>
        </p>
        <slot name="right" />
    </div>
</template>

<script>
export default {
    name: "publicTitle",
    props: {
        titleName: {
            type: String
        },
        backName: {
            type: String
        },
        frontName: {
            type: String
        }
    },
    components: {},
    data() {
        return {};
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {}
};
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
