.publicTitle {
    width: 100%;
    height: 40px;
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .special {
        color: #0000ff;
    }
    .center {
        display: flex;
        align-items: center;
    }
    .publicLeft {
        position: absolute;
        left: 20px;
        font-size: 16px;
        display: flex;
        align-items: center;
        img {
            width: 20px;
        }
    }
    .publicRight {
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
    }
}
