.revenueSecond {
    width: 100%;
    height: 100%;
    .top {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: ~"calc(100% - 40px)";
    }
    .left {
        width: 810px;
        height: 100%;
        .detail {
            width: 100%;
            height: 100%;
        }
    }
    .right {
        width: ~"calc(100% - 810px)";
        height: 100%;
        padding-left: 10px;
        .trend {
            margin-bottom: 1%;
        }
        .chart {
            width: 100%;
            height: 49.5%;
            border: 1px solid #ebebeb;
            .chartContent {
                width: 100%;
                height: ~"calc(100% - 40px)";
            }
        }
    }
}
