<!--
 * @Author: gonghairun
 * @Date: 2020-11-19 10:16:14
 * @LastEditors: gonghairun
 * @LastEditTime: 2021-12-14 13:23:18
 * @Description: //一船一档
-->
<template>
    <div class="revenueSecond">
        <div class="top">
            <el-radio-group v-model="radioValue" size="mini" @change="onChange">
                <el-radio-button label="中心"></el-radio-button>
                <el-radio-button label="客标"></el-radio-button>
            </el-radio-group>
        </div>
        <div class="bottom">
            <div class="left">
                <!-- 家内营收 -->
                <center v-if="radioValue == '中心'"></center>
                <!-- 家内营收 -->
                <guestStandard v-else></guestStandard>
            </div>
            <div class="right">
                <!-- 家内营收趋势 -->
                <trend></trend>
                <!-- 家内营收达成比对 -->
                <reach></reach>
            </div>
        </div>
    </div>
</template>

<script>
import trend from "./subPage/trend"; // 家内营收趋势
import reach from "./subPage/reach"; // 家内营收达成比对
import center from "./subPage/center"; // 家内营收
import guestStandard from "./subPage/guestStandard"; // 家内营收
export default {
    name: "revenue",
    components: {
        trend,
        reach,
        guestStandard,
        center
    },
    data() {
        return {
            radioValue: "中心"
        };
    },
    mounted() {},
    computed: {},
    watch: {},
    activated() {},
    methods: {
        /**
         * @Author: gonghairun
         * @description: 修改数据
         * @param {*} value
         * @return {*}
         */
        onChange(value) {
            this.radioValue = value;
        }
    }
};
</script>

<style lang="less" scoped>
@import "./index.less";
</style>
