<template>
  <div class="main-container home-page pr">
    <div class="body">
      <div class="title t-center t-bold t-40 pt-25 pb-25">家内经营仓全貌图</div>
      <ul class="block-list t-bold">
        <li
          class="block-item t-center"
          v-for="indicator in indicatorData"
          :key="'indicator_' + indicator.INDICATOR_ID"
        >
          <div class="block-title indicator">
            <span class="under-line del-wrap-space">
              <span class="name t-28">{{ indicator.INDICATOR_NAME }}</span>
              <span class="unit t-18">({{ indicator.INDICATOR_UNIT }})</span>
            </span>
            <span class="icon">家内</span>
          </div>
          <div class="block-content indicator">
            <div class="fact-value text-wrap">
              <span class="value" :class="indicator.FACT_COLOR">
                {{ indicator.FACT_VALUE }}
              </span>
            </div>
            <div class="fact-rate">
              <span>
                达
                <span :class="indicator.RATE_COLOR">
                  {{ indicator.RATE_VALUE }}%
                </span>
              </span>
              <span>
                同
                <span :class="indicator.YOY_COLOR">
                  {{ indicator.YOY_VALUE }}%
                </span>
              </span>
            </div>
          </div>
        </li>
        <li
          v-for="index of indicatorData.length % 4"
          :key="'indicator_fill_' + index"
          class="block-item hide"
        ></li>
      </ul>

      <hr class="line-split mt-30 mb-30 pt-10" />

      <ul class="block-list t-bold">
        <li
          class="block-item t-center"
          v-for="report in reportData"
          :key="'report_' + report.REPORT_ID"
        >
          <div class="block-title report">
            <span class="under-line del-wrap-space">
              <span class="name t-30">{{ report.REPORT_NAME }}</span>
            </span>
          </div>
          <div class="block-content report">
            <el-carousel
              trigger="click"
              :interval="5000"
              arrow="never"
              v-if="(report.INDICATOR_CHILDREN || []).length > 0"
            >
              <el-carousel-item
                v-for="report_ind in report.INDICATOR_CHILDREN"
                :key="'report_ind_' + report_ind.INDICATOR_ID"
              >
                <div class="indicator-name text-wrap">
                  <span class="value">{{ report_ind.INDICATOR_NAME }}</span>
                </div>
                <div class="fact-rate">
                  <span>
                    达
                    <span :class="report_ind.RATE_COLOR">
                      {{ report_ind.RATE_VALUE }}%
                    </span>
                  </span>
                  <span>
                    同
                    <span :class="report_ind.YOY_COLOR">
                      {{ report_ind.YOY_VALUE }}%
                    </span>
                  </span>
                </div>
              </el-carousel-item>
            </el-carousel>
          </div>
        </li>
        <li key="report_fill_add" class="block-item add">
          <!-- <i class="el-icon-plus"></i> -->
        </li>
        <li
          v-for="index of reportData.length % 3"
          :key="'report_fill_' + index"
          class="block-item hide"
        ></li>
      </ul>
    </div>

    <div class="footer">
      <div class="footer-btn">
        <ul class="btn-list system">
          <li
            class="btn-item"
            v-for="(system, index) in systemData"
            :key="system"
          >
            <el-button
              size="mini"
              :class="{ active: sysIndex == index }"
              @click="selectSystem(index)"
            >
              {{ system }}
            </el-button>
          </li>
        </ul>

        <div class="split"></div>

        <ul class="btn-list dept">
          <li
            class="btn-item"
            v-for="(dept, pIndex) in deptData"
            :key="dept.name"
          >
            <el-dropdown trigger="click">
              <el-button
                size="mini"
                :class="{ active: deptIndex[0] == pIndex }"
              >
                {{ dept.name }}
                <i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>

              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                  v-for="(child, cIndex) in dept.children"
                  :key="child"
                  :class="{ active: deptIndex[1] == cIndex }"
                  @click.native="selectDept(pIndex, cIndex)"
                >
                  {{ child }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </li>
        </ul>
      </div>
      <div class="footer-date">
        <span class="t-vcenter">时间：</span>
        <el-date-picker
          v-model="period"
          size="mini"
          :type="dateType"
          :format="periodFormat"
        ></el-date-picker>
        <el-button-group>
          <el-button
            round
            size="mini"
            :class="{ active: periodType == 'month' }"
          >
            月累
          </el-button>
          <el-button
            round
            size="mini"
            :class="{ active: periodType == 'year' }"
          >
            年累
          </el-button>
        </el-button-group>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "HomePage",
  data() {
    return {
      indicatorData: [
        {
          INDICATOR_ID: 1,
          INDICATOR_NAME: "营收",
          INDICATOR_UNIT: "亿",
          FACT_VALUE: 65,
          RATE_VALUE: 99,
          YOY_VALUE: -8,
          FACT_COLOR: "yellow",
          RATE_COLOR: "yellow",
          YOY_COLOR: "red"
        },
        {
          INDICATOR_ID: 2,
          INDICATOR_NAME: "利润",
          INDICATOR_UNIT: "亿",
          FACT_VALUE: -1.1,
          RATE_VALUE: 159,
          YOY_VALUE: 88,
          FACT_COLOR: "green",
          RATE_COLOR: "green",
          YOY_COLOR: "green"
        },
        {
          INDICATOR_ID: 3,
          INDICATOR_NAME: "毛利",
          INDICATOR_UNIT: "%",
          FACT_VALUE: 24,
          RATE_VALUE: 104,
          YOY_VALUE: 7,
          FACT_COLOR: "green",
          RATE_COLOR: "green",
          YOY_COLOR: "green"
        },
        {
          INDICATOR_ID: 4,
          INDICATOR_NAME: "销量",
          INDICATOR_UNIT: "万套",
          FACT_VALUE: 501,
          RATE_VALUE: 86,
          YOY_VALUE: -9,
          FACT_COLOR: "",
          RATE_COLOR: "red",
          YOY_COLOR: "red"
        }
      ],
      reportData: [
        {
          REPORT_ID: 1,
          REPORT_NAME: "网络",
          INDICATOR_CHILDREN: [
            {
              INDICATOR_ID: 1,
              INDICATOR_NAME: "营收",
              INDICATOR_UNIT: "亿",
              FACT_VALUE: 65,
              RATE_VALUE: 99,
              YOY_VALUE: -8,
              RATE_COLOR: "yellow",
              YOY_COLOR: "red"
            },
            {
              INDICATOR_ID: 2,
              INDICATOR_NAME: "利润",
              INDICATOR_UNIT: "亿",
              FACT_VALUE: -1.1,
              RATE_VALUE: 159,
              YOY_VALUE: 88,
              RATE_COLOR: "yellow",
              YOY_COLOR: "red"
            },
            {
              INDICATOR_ID: 3,
              INDICATOR_NAME: "毛利",
              INDICATOR_UNIT: "%",
              FACT_VALUE: 24,
              RATE_VALUE: 104,
              YOY_VALUE: 7,
              RATE_COLOR: "green",
              YOY_COLOR: "green"
            },
            {
              INDICATOR_ID: 4,
              INDICATOR_NAME: "销量",
              INDICATOR_UNIT: "万套",
              FACT_VALUE: 501,
              RATE_VALUE: 86,
              YOY_VALUE: -9,
              RATE_COLOR: "yellow",
              YOY_COLOR: "green"
            }
          ]
        },
        {
          REPORT_ID: 2,
          REPORT_NAME: "通路",
          INDICATOR_CHILDREN: [
            {
              INDICATOR_ID: 3,
              INDICATOR_NAME: "毛利",
              INDICATOR_UNIT: "%",
              FACT_VALUE: 24,
              RATE_VALUE: 104,
              YOY_VALUE: 7,
              RATE_COLOR: "yellow",
              YOY_COLOR: "green"
            }
          ]
        },
        {
          REPORT_ID: 3,
          REPORT_NAME: "结构",
          INDICATOR_CHILDREN: [
            {
              INDICATOR_ID: 3,
              INDICATOR_NAME: "毛利",
              INDICATOR_UNIT: "%",
              FACT_VALUE: 24,
              RATE_VALUE: 104,
              YOY_VALUE: 7,
              RATE_COLOR: "yellow",
              YOY_COLOR: "green"
            },
            {
              INDICATOR_ID: 4,
              INDICATOR_NAME: "销量",
              INDICATOR_UNIT: "万套",
              FACT_VALUE: 501,
              RATE_VALUE: 86,
              YOY_VALUE: -9,
              RATE_COLOR: "green",
              YOY_COLOR: "red"
            }
          ]
        }
      ],
      systemData: ["战略", "经营", "运营", "人才"],
      sysIndex: 0,
      deptData: [
        {
          name: "集",
          children: ["财务", "IT", "运营", "人力"]
        },
        {
          name: "家",
          children: ["财务", "IT", "运营", "人力"]
        },
        {
          name: "商",
          children: ["内销", "IT", "运营", "人力"]
        },
        {
          name: "电",
          children: ["财务", "IT", "运营", "人力"]
        },
        {
          name: "地",
          children: ["财务", "IT", "运营", "人力"]
        },
        {
          name: "医",
          children: ["财务", "IT", "运营", "人力"]
        }
      ],
      deptIndex: [0, 0],
      dateType: "month", // 日期控件的日期格式
      period: new Date(),
      periodFormat: "yyyy-MM",
      periodType: "month" // 会计期类型
    };
  },
  methods: {
    selectSystem(index) {
      this.sysIndex = index;
    },
    selectDept(pIndex, cIndex) {
      this.deptIndex = [pIndex, cIndex];
    },
    // 指标数据处理，包括数值精度、字体颜色等
    handleIndicatorData(data) {}
  }
};
</script>
<style lang="less" scoped>
.main-container {
  .body {
    padding-bottom: 20px;
    height: calc(100vh - 50px);
    overflow-y: auto;

    .block-list {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .block-item {
        width: 21%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);

        &.hide {
          visibility: hidden;
        }

        // &.add > i {
        //   flex-grow: 1;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   font-size: 40px;
        //   font-weight: bold;
        //   color: #1790ff;
        // }
        &.add {
          background-color: #e5e5e5;
        }

        .block-title {
          position: relative;
          padding: 15px 0px;
          border-radius: 8px 8px 0 0;

          &.indicator {
            background-color: #cde7ff;
          }

          &.report {
            background-color: #fffcd4;
          }

          .icon {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(30%, -30%);
            padding: 5px 10px;
            background-color: #1690ff;
            border-radius: 15px;
            color: #fff;
            font-weight: normal;
          }
        }

        /deep/ .el-carousel {
          .el-carousel__container {
            height: 160px;

            .el-carousel__item {
              display: flex;
              flex-direction: column;
            }
          }

          .el-carousel__indicators {
            display: flex;
            justify-content: space-evenly;
            height: 20px;

            .el-carousel__indicator--horizontal {
              align-self: stretch;
              display: flex;
              align-items: center;
              padding: 0px 10px;
              margin: 0px 5px;

              .el-carousel__button {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: #aaa;
              }
              &.is-active button {
                background-color: @color-common-blue;
              }
            }
          }
        }

        .block-content {
          display: flex;
          flex-direction: column;
          height: 160px;

          .fact-value,
          .indicator-name {
            flex-grow: 1;
            font-size: 34px;

            &.fact-value {
              font-size: 48px;
            }

            .value {
              display: inline-block;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
            }

            &.indicator-name .value {
              color: @color-blue;
            }
          }

          .fact-rate {
            display: flex;
            justify-content: space-between;
            padding: 0px 20px 20px;
            font-size: 24px;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    width: 100vw;
    height: 50px;
    background: #eee;

    .footer-btn {
      display: flex;
      align-items: center;

      .btn-list {
        display: flex;

        .btn-item {
          margin-right: 15px;
        }
      }
    }

    .split {
      width: 4px;
      margin-right: 15px;
      background-color: #fff;
    }

    .footer-date {
      display: flex;
      align-items: center;

      .el-date-editor {
        margin-right: 15px;
      }
    }
  }
}
</style>
