<template>
  <div class="main_container" :class="{ home: isHomePage }">
    <div class="page-content">
      <keep-alive>
        <router-view :key="$route.fullPath" v-if="$route.meta.keepAlive" />
      </keep-alive>
      <router-view v-if="!$route.meta.keepAlive" />
    </div>
    <bottom-bar v-if="!isHomePage"></bottom-bar>
  </div>
</template>

<script>
import bottomBar from "@/components/bottom-bar";
export default {
  name: "App",
  components: {
    bottomBar: bottomBar
  },
  data() {
    return {};
  },
  methods: {},
  computed: {
    isHomePage() {
      return this.$route.path == "/" || this.$route.path == "/Home";
    }
  },
  created() {},
  mounted() {}
};
</script>

<style lang="less">
.main_container {
  &:not(.home) {
    .page-content {
      height: calc(100vh - 50px);

      & > * {
        height: 100%;
        padding: 10px;
      }
    }
  }
  &.home {
    .page-content {
      height: 100vh;
    }
  }
}
</style>
