// element ui 相关样式调整

// 日期框mini大小时的宽度设置
.el-date-editor.el-input--mini {
  width: 130px;
  font-size: 14px;
}

// button样式
.el-button.el-button--default {
  background-color: #fff;
  border-color: #1690ff;
  color: #1690ff;
  &.active {
    background-color: @color-common-blue;
    color: #fff;
  }
}
.el-button.el-button--mini {
  font-size: 14px;
}

// 表格样式

.el-table {
  color: #000;

  // 表头统一样式
  .el-table__header {
    thead {
      th.el-table__cell {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        background-color: @header-bg-blue;
      }
    }
  }

  // 表体统一样式
  .el-table__body {
    tbody {
      td.el-table__cell {
        font-size: 20px;
        color: #000;
      }
    }
  }

  // 表格边框
  &.el-table--border {
    table tr th,
    table tr td {
      border-color: #888;

      &.is-leaf {
        border-color: #888;
      }
    }
  }
  &::before,
  &.el-table--border::after,
  &.el-table--group::after {
    background-color: #888;
  }

  // 表格错位问题处理
  th.gutter {
    display: table-cell !important;
  }
  colgroup.gutter {
    display: table-cell !important;
  }
}

// 表格高度撑满100%
.fill {
  .el-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .el-table__header-wrapper {
      flex-shrink: 0;
    }

    .el-table__body-wrapper {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;

      .el-table__body {
        flex-grow: 1;
      }
    }
  }
}
