// AUX表单规范相关样式

/** 达成/未达成颜色 开始*/
.reach-green {
    color: @color-green !important;
}
.reach-yellow {
    color: @color-yellow !important;
}
.reach-red {
    color: @color-red !important;
    // color: #fff !important;
    // background-color: @color-red !important;
}
/** 达成/未达成颜色 结束*/

/** 红绿灯组件样式 开始*/

.light:before {
    content: "●";
    font-size: 11px;
    vertical-align: middle;
}

.light.greenLight:before {
    color: @color-green;
}

.light.redLight:before {
    color: @color-red;
}

.light.yellowLight:before {
    color: @color-yellow;
}

/** 红绿灯组件样式 结束*/
.currentDate {
    position: absolute;
    right: 10px;
}
